@import "reset.css";
@import "style.css";
@import "style2.css";
@import "style3.css";
@import "style4.css";
@import "fonts.css";



// contact****************************************
.ah-contakt-bottom{
	width: 100%;
	height: 300px;
	margin-bottom: 20px;
	box-shadow: 0 12px 35px rgba(0, 0, 0, 0.2);
}
#map, #map1, #map2, #map3{
	width: 100%;
	height: 100%;
}
.ah-contakt-top{
	width: 100%;
	height: auto;
	background: #ffc501;
}
.ah-contakt-span, .ah-contakt-span1{
	display: inline-block;
	font-family: "RobotoBold";
	color: #171717;
	font-size: 24px;
	line-height: 70px;
}
.ah-contakt-span2{
	display: block;
	font-family: "RobotoBold";
	color: #343434;
	font-size: 48px;
	line-height: 22px;
	text-align: center;
	margin-bottom: 50px;
}
.ah-contakt-span{
	display: block;
	float: none;
	margin-left: 0px;
	text-align: center;
}
.ah-contakt-span1{
	display: block;
	position: relative;
	float: none;
	margin-right: 0px;
	text-align: center;
}
.ah-contakt-span1:before{
	position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    top: 22px;
    left: -38px;
    background: none;
}

// comptext***************************************
.ah-comptext{
	position: relative;
}
.ah-comptext:after{
	display: none;
	position: absolute;
    content: "";
    width: 440px;
    height: 290px;
    bottom: 0px;
    left: -340px;
    background: none;
}
.ah-comptext:before{
	display: none;
	position: absolute;
    content: "";
    width: 475px;
    height: 222px;
    bottom: 0px;
    right: -300px;
    background: none;
}
.ah-comptext-title{
	display: block;
	color: #31343b;
	font-family: "RobotoBold";
	font-size: 48px;
	line-height: 54px;
	margin-bottom: 30px;
	text-align: center;
}
.ah-comptext1{
	display: block;
	font-family: "RobotoRegular";
	color: #656565;
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 30px;
	span{
		color: #d22c00;
		font-family: "RobotoRegular";
		font-size: 14px;
		line-height: 22px;
		text-decoration: underline;
	}
}
.ah-comptext-subtitle{
	display: block;
	font-family: "RobotoBold";
	color: #030303;
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 15px;
}
.ah-comptext-span{
	position: relative;
	display: block;
	font-family: "RobotoRegular";
	color: #656565;
	font-size: 14px;
	line-height: 30px;
	margin-bottom: 18px;
    padding-left: 20px;
}
.ah-comptext-span:before{
	position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    top: 10px;
    left: 0px;
    background: url(../img/ah-text3.png) center center no-repeat;
}
// comptext***************************************


@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
	.ah-comptext-title{
		text-align: left;
		line-height: 22px;
	}
	.ah-contakt-span{
		float: left;
		margin-left: 20px;
		text-align: left;
	}
	.ah-contakt-span1{
		position: relative;
		float: right;
		margin-right: 20px;
		text-align: right;
	}
	.ah-contakt-span1:before{
		position: absolute;
	    content: "";
	    width: 30px;
	    height: 30px;
	    top: 22px;
	    left: -38px;
	    background: url(../img/ah-contact.png) center center no-repeat;
	}
	.ah-contakt-bottom{
		width: 545px;
		height: 340px;
		margin-bottom: 35px;
		box-shadow: 0 12px 35px rgba(0, 0, 0, 0.2);
	}
	.ah-contakt-top{
		width: 545px;
		height: 72px;
		background: url(../img/ah-contactfon.png) center center no-repeat;
	}
}

@media only screen and (min-width : 1400px) {
	.ah-comptext:after{
		display: block;
		position: absolute;
	    content: "";
	    width: 440px;
	    height: 290px;
	    bottom: 0px;
	    left: -340px;
	    background: url(../img/ah-text1.png) top center no-repeat;
	}
	.ah-comptext:before{
		display: block;
		position: absolute;
	    content: "";
	    width: 475px;
	    height: 222px;
	    bottom: 0px;
	    right: -300px;
	    background: url(../img/ah-text2.png) top center no-repeat;
	}
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}