@import "reset.css";
@import "style.css";
@import "style2.css";
@import "style3.css";
@import "style5.css";
@import "fonts.css";


/*================== Почему мы ===========================*/

.padding-top-col{
	padding-top:39px;
}
.ab-pochemy-mi{
	text-align:center;
	padding-top:15px;
	.ab-pochemy-mi-img-box{
		margin:0 auto;
		border: 3px solid #fff;
		background: url(../img/ab-p1.png) center;
		width: 105px;
		height: 105px;
		box-shadow: 0 0 5px 2px rgba(122,122,122,0.5);
		border-radius:60px;
	}
	.ab-pochemy-mi-img-box2{
		background: url(../img/ab-p2.png) center;
	}
	.ab-pochemy-mi-img-box3{
		background: url(../img/ab-p3.png) center;
	}
	.ab-pochemy-mi-img-box4{
		background: url(../img/ab-p4.png) center;
	}
	.ab-pochemy-mi-img-box5{
		background: url(../img/ab-p5.png) center;
	}
	.ab-pochemy-mi-img-box6{
		background: url(../img/ab-p6.png) center;
	}
	.ab-pochemy-mi-txt{
		padding-top: 15px;
		span{
			display: block;
		}
		span:first-child{
			font-family: "RobotoBold";
		}
		span:last-child{
			font-family: "RobotoRegular";
		}
	}
	.ab-medal{
		margin-bottom: 30px;
		margin-top: 30px;
	}
	.ab-medal-bottom{
		margin-bottom: 4px !important;
	}
	.ab-pochemy-mi-title{
		text-align: center;
		padding-bottom: 25px;
		span{
			font-family: "RobotoBold";
			font-size: 28px;
		}
	}
}

/*================== Конец Почему мы ===================*/

/*================== Звонок =====================*/

.ab-zvonok{
	background: url(../img/ab-bg-zvonok.jpg) center;
	background-size:cover;
	width:100%;
	text-align:center;
	.ab-zvonok-title{
		font-family: "RobotoBold";
		font-size: 20px;
		color: #fff; 
	}
	.vhod-bottom{
	    width: 100%;
	    display: -webkit-flex; 
	    display: flex; 
	    justify-content: space-between;
	    align-items: center;
	    //margin-bottom: 55px;
	    //padding-top:58px;
	    margin-bottom: 20px;
	    padding-top:20px;
	}

	.search-box{
	    width: 250px;
	    margin: 0 auto;
	    .ab-first-input{
	    	position:relative;
	    }
	    .ab-first-input:after{
			position:absolute;
			content:" ";
			background: url(../img/ab-chel.png) no-repeat left;
			width: 20px;
			height: 20px;
			top: 29px;
			right: 94px;
	    }
	    .ab-second-input{
	    	position:relative;
	    }
	    .ab-second-input:after{
			position:absolute;
			content:" ";
			background: url(../img/ab-tel.png) no-repeat left;
			width: 19px;
			height: 20px;
			top: 29px;
			right: 94px;
	    }
	}
	.ab-form{
	    display: block;
	    position: relative;
	    border-radius: 5px;
	    width: 250px;
	    height: 48px;
	    border: 1px solid #cbd1d6;
	    box-sizing: border-box;
		 
		input[type="text"]{
		    width: 250px;
		    height: 49px;
		    line-height: 51px;
		    padding: 0px 40px;
		    border: none;
		    box-sizing: border-box;
		    z-index: 10;
		    top: 0;
		    left: 0;
		    font-size: 18px;
		    color: #97a3ad;
		    outline: none !important;
		    letter-spacing: .02em;
		    font-family: "RobotoRegular";
		    max-height: 100%;
		    overflow: hidden;
		    border-radius:4px;
		}
    }
    .ab-zvonok-button{
    	padding-top:20px;
    	padding-bottom:20px;
    	text-align: center;
		.ab-button{
			display: inline-block;
			background:#FFC600;
			padding:12px 38px;
			font-family: "RobotoBold";
			font-size: 18px;
			color: #131313;
			border-radius:5px;
		}
    }
    .ab-zvonok-tel{
		font-family: "RobotoRegular";
		font-size: 28px;
		color: #fff;
		padding:30px 0;
    }
}

/*================== Конец Звонок =====================*/



@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {

	.search-box{
	    min-width: 375px;
	    .ab-first-input{
	    	position:relative;
	    }
	    .ab-first-input:after{
			width: 20px;
			height: 20px;
			top: 29px;
			right: 157px !important;
	    }

	    .ab-second-input:after{
			width: 19px;
			height: 20px;
			top: 29px;
			right: 157px !important;
	    }
	}
	.ab-form{
	    min-width: 375px;
		input[type="text"]{
		    min-width: 375px;
		}
	}	

	.ab-pochemy-mi-title{
		span{
			font-size: 35px !important;
		}
	}
}

@media only screen and (min-width : 768px) {
	.ab-pochemy-mi-title{
		span{
			font-size: 48px !important;
		}
	}

}

@media only screen and (min-width : 992px) {

	.ab-pochemy-mi{
		text-align: left;
		.ab-pochemy-mi-img-box{
			float: left;
		}
		.ab-pochemy-mi-txt{
			float: left;
			padding-left:34px;
			max-width: 450px;
			padding-top:11px;
		}
	}
	.ab-medal{
		margin-top:62px !important;
		margin-bottom: 100px !important;
		
	}

	.vhod-bottom{
	    margin-bottom: 55px !important;
	    padding-top:58px !important;
	}    
	.ab-zvonok-button{
    	padding-top:58px !important;
    	text-align: left !important;
    }
    .ab-zvonok-title{
    	padding-right:149px;
    	padding-top:48px;
		span{
			font-size: 48px;
		}
    }
   .ab-zvonok-tel{
   	padding-right:166px !important;
   	padding-top:0 !important;
   	padding-bottom: 76px !important;
   		span{
			font-size: 48px !important;
		}
    }
}

@media only screen and (min-width : 1248px) {
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}