@import "reset.css";
@import "style.css";
@import "style2.css";
@import "style3.css";
@import "style5.css";
@import "fonts.css";

.padding-top-col{
	padding-top:39px;
}

.ab-pochemy-mi{
	text-align:center;
	padding-top:15px;
	.ab-pochemy-mi-img-box{
		margin:0 auto;
		border: 3px solid #fff;
		background: url(../img/ab-p1.png) center;
		width: 105px;
		height: 105px;
		box-shadow: 0 0 5px 2px rgba(122,122,122,0.5);
		border-radius:60px;
	}
	.ab-pochemy-mi-img-box2{
		background: url(../img/ab-p2.png) center;
	}
	.ab-pochemy-mi-img-box3{
		background: url(../img/ab-p3.png) center;
	}
	.ab-pochemy-mi-img-box4{
		background: url(../img/ab-p4.png) center;
	}
	.ab-pochemy-mi-img-box5{
		background: url(../img/ab-p5.png) center;
	}
	.ab-pochemy-mi-img-box6{
		background: url(../img/ab-p6.png) center;
	}
	.ab-pochemy-mi-txt{
		padding-top: 15px;
		span{
			display: block;
		}
		span:first-child{
			font-family: "RobotoBold";
		}
		span:last-child{
			font-family: "RobotoRegular";
		}
	}
	.ab-medal{
		//margin-top:62px;
		//margin-bottom: 100px;
		margin-bottom: 30px;
		margin-top: 30px;
	}
	.ab-medal-bottom{
		margin-bottom: 4px !important;
	}
	.ab-pochemy-mi-title{
		text-align: center;
		padding-bottom: 25px;
		span{
			font-family: "RobotoBold";
			font-size: 28px;
		}
	}
}





@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {

	.ab-pochemy-mi-title{
		span{
			font-size: 35px !important;
		}
	}
}

@media only screen and (min-width : 768px) {
	.ab-pochemy-mi-title{
		span{
			font-size: 48px !important;
		}
	}
}

@media only screen and (min-width : 992px) {

	.ab-pochemy-mi{
		text-align: left;
		.ab-pochemy-mi-img-box{
			float: left;
		}
		.ab-pochemy-mi-txt{
			float: left;
			padding-left:34px;
			max-width: 450px;
			padding-top:11px;
		}
	}
	.ab-medal{
		margin-top:62px !important;
		margin-bottom: 100px !important;
		
	}
}

@media only screen and (min-width : 1248px) {
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}